/*
Theme Name: NetToday
Theme URI: http://uimarketplace.net/hnettoday/
Author: the saihoai team
Author URI: https://themeforest.net/user/saihoai
Version: 1.0
*/


/**
 * Table of Contents
 *
 * 1.0 - Font
 * 2.0 - Line height
 * 3.0 - Background
 * 4.0 - Box shadow
 * 5.0 - Border color
 * 6.0 - Radius
 * 7.0 - Color
 * 8.0 - Alignments
 * 9.0 - Transition
 * 10.0 - Transform
 * 11.0 - Placeholder
 * 12.0 - Animation
 * 13.0 - Gutter
 * 14.0 - Margin
 * 15.0 - Section
 * 16.0 - Page
 * 17.0 - Sidebar
 * 18.0 - Addon
 * 19.0 - Media Queries
 *    19.1 - Tablet
 *    19.2 - Mobile
 */

/**
 * 1.0 Font
 */

/* Font family: Roboto Condensed, sans-serif;*/
body,
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item > a { font-family: 'Roboto Condensed', sans-serif; }

/* Font family: PT Sans Narrow;*/
.sp-megamenu-parent,
a.logo,
.sppb-addon-feature .h1.sppb-addon-title,
.sppb-addon-feature h2.sppb-addon-title,
.sppb-addon-feature h3.sppb-addon-title,
.sppb-section-title,
.footer .title,
.sppb-form h3 { font-family: 'PT Sans Narrow', sans-serif; }

/* Font: glacial_indifferenceregular*/
@font-face { font-family: 'glacial_indifferenceregular'; src: url('../fonts/glacialindifference-regular-webfont.woff2') format('woff2'), url('../fonts/glacialindifference-regular-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'glacial_indifferenceitalic'; src: url('../fonts/glacialindifference-italic-webfont.woff2') format('woff2'), url('../fonts/glacialindifference-italic-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'glacial_indifferencebold'; src: url('../fonts/glacialindifference-bold-webfont.woff2') format('woff2'), url('../fonts/glacialindifference-bold-webfont.woff') format('woff'); font-weight: normal; font-style: normal; }
.sppb-social { font-family: 'glacial_indifferenceregular'; }


/* Font family: Material-Design-Iconic-Font;*/
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after { font: normal normal normal 14px/1 'Material-Design-Iconic-Font'; }

/* Font content: Material-Design-Iconic-Font;*/
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after { content: "\f2fb"; }

/* Font size: 15px;*/
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item > a,
.dropdown-lang,
.sppb-addon-feature .meta,
.sppb-addon-counter,
.footer,
.pager,
.pagination,
.breadcrumb,
.sppb-addon-feature.icon-mid .meta,
.sppb-image .caption,
.sppb-tags-label,
.sppb-form,
.sppb-section-more .btn { font-size: 15px; }

/* Font size: 16px;*/
.sp-megamenu-parent,
.dropdown-search [type="text"],
.sppb-section-title,
.sppb-social,
.sppb-addon-feature.author .text,
.sppb-comments .text { font-size: 16px; }

/* Font size: 17px;*/
.sppb-addon-feature .sppb-addon-title,
.sppb-addon-feature.icon-mid .sppb-addon-text { font-size: 17px; }

/* Font size: 22px;*/
.sp-search > a,
.dropdown-search > [data-toggle="dropdown"],
.sppb-addon-counter .sppb-animated-number,
.footer .title,
.sppb-share .dropdown-menu a,
.sppb-tags-label span,
.sppb-addon-social.sm { font-size: 20px; }

/* Font size: 25px;*/
.sppb-addon-feature h3.sppb-addon-title,
.sppb-section-title > h4,
.sppb-addon-social,
.sppb-form h3 { font-size: 25px; }

/* Line height: 27px;*/
.sppb-addon-feature.icon-mid .sppb-addon-text { line-height: 27px; }

/* Font size: 30px;*/
a.logo,
.sppb-addon-feature h2.sppb-addon-title,
.sppb-addon-counter .zmdi,
.close-offcanvas { font-size: 30px; }

/* Font size: 35px;*/
.sppb-addon-feature .h1.sppb-addon-title { font-size: 35px; }

/* Font size: 40px;*/
.sppb-addon-feature .sppb-modal-selector .zmdi,
.mostread .sppb-addon-feature .sppb-addon-content:before,
.single article.sppb-addon-feature .h1,
#offcanvas-toggler { font-size: 40px; }

/* Font size: 50px;*/
.sppb-audio .zmdi { font-size: 50px; }

/* Font size: 70px;*/
.sppb-video .zmdi { font-size: 70px; }

/* Font size: 100px;*/
.sppb-addon-feature.overlay .sppb-modal-selector .zmdi { font-size: 100px; }

/* Font weight: 400;*/
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item > a { font-weight: 400; }

/* Font weight: 700;*/
.sp-megamenu-parent,
a.logo > span:not(.logo-slogan),
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
.mostread .sppb-addon-feature .sppb-addon-content:before,
.sppb-addon-counter .sppb-animated-number,
.footer .sppb-optin-form button,
.pager li>a, 
.pager li>span,
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>a:active,
.pagination>li.active>a,
.pagination>li>span:hover,
.pagination>li>span:focus,
.pagination>li>span:active,
.pagination>li.active>span,
.sppb-addon-feature.icon-mid .meta .author a,
.sppb-social.flat,
.sppb-addon-feature.author .meta a,
.sppb-form [type="submit"],
.sppb-comments .meta .author a,
.sppb-section-more .btn { font-weight: 700; }

/* Font smoonth;*/
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/**
 * 2.0 Line height
 */

/* Line height: 16px;*/
.btn-outline,
.close-offcanvas { line-height: 16px; }

/* Line height: 22px;*/
.sppb-tags-label { line-height: 22px; }

/* Line height: 23px;*/
.sppb-addon-feature .sppb-addon-title { line-height: 23px; }

/* Line height: 25px;*/
.bg-nt,
.sppb-social.flat,
.sppb-addon-social.sm,
.sppb-addon-feature.author .text,
.sppb-comments .text { line-height: 25px; }

/* Line height: 27px;*/
.sppb-menu { line-height: 27px; }

/* Line height: 30px;*/
.sppb-addon-feature h3.sppb-addon-title,
.footer .title,
.sppb-share .dropdown-menu a { line-height: 30px; }

/* Line height: 33px;*/
.sppb-section-more .btn { line-height: 33px; }

/* Line height: 35px;*/
.sppb-addon-feature h2.sppb-addon-title,
.sppb-section-title,
.pager li>a, 
.pager li>span,
.sppb-form h3 { line-height: 35px; }

/* Line height: 36px;*/
.dropdown-lang .dropdown-menu li > a { line-height: 36px; }

/* Line height: 39px;*/
.sppb-addon-feature .h1.sppb-addon-title { line-height: 39px; }

/* Line height: 45px;*/
a.logo,
.single article.sppb-addon-feature .h1 { line-height: 45px; }

/* Line height: 60px;*/
body:not(.home) .sp-megamenu-parent >li >a, 
body:not(.home) .sp-megamenu-parent >li >span,
body:not(.home) .sp-search > a, 
body:not(.home) .sp-search [data-toggle="dropdown"],
body:not(.home) #sp-header #offcanvas-toggler { line-height: 60px; }

/* Line height: 79px;*/
.sp-megamenu-parent >li >a, 
.sp-megamenu-parent >li >span,
.sp-search > a,
.sp-search [data-toggle="dropdown"],
#offcanvas-toggler { line-height: 79px; }

/* Letter spacing: -.5px;*/
body { letter-spacing: -.5px; }

/**
 * 3.0 Background
 */

/* Background-image: header*/
#sp-header:not(.menu-fixed) {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.79) 0%, rgba(0,0,0,0.76) 8%, rgba(0,0,0,0.65) 24%, rgba(0,0,0,0.12) 80%, rgba(0,0,0,0.03) 92%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.79) 0%,rgba(0,0,0,0.76) 8%,rgba(0,0,0,0.65) 24%,rgba(0,0,0,0.12) 80%,rgba(0,0,0,0.03) 92%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.79) 0%,rgba(0,0,0,0.76) 8%,rgba(0,0,0,0.65) 24%,rgba(0,0,0,0.12) 80%,rgba(0,0,0,0.03) 92%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9000000', endColorstr='#00000000',GradientType=0 );
}

/* Background image: readmore;*/
.sppb-section-more .sppb-addon-text:before {
	background: -moz-linear-gradient(top, rgba(255,255,255,0.31) 0%, rgba(255,255,255,0.76) 57%, rgba(255,255,255,0.94) 84%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.31) 0%,rgba(255,255,255,0.76) 57%,rgba(255,255,255,0.94) 84%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.31) 0%,rgba(255,255,255,0.76) 57%,rgba(255,255,255,0.94) 84%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fffffff', endColorstr='#ffffff',GradientType=0 );
}

/* Background image: overlay;*/
.sppb-addon-feature.overlay:before { background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%); }

/* Background: twitter;*/
.bg-twitter { background: #00ccff; }

/* Background: #242336;*/
.footer,
.offcanvas-menu,
.offcanvas-overlay { background: #242336; }

/* Background: instagram;*/
.bg-instagram { background: #2a88b9; }

/* Backgorund: #393939;*/
#sp-header,
.sppb-addon-feature:not(.overlay) .sppb-modal-selector:before { background: #393939; }

/* Background: #3368ae;*/
.bg-fb { background: #3368ae; }

/* Background: #796eff;*/
.bg-nt,
.footer .sppb-optin-form button,
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>a:active,
.pagination>li.active>a,
.pagination>li>span:hover,
.pagination>li>span:focus,
.pagination>li>span:active,
.pagination>li.active>span,
body:not(.home) #sp-header:not(.menu-fixed),
[class*="bg-"]:hover,
[class*="bg-"]:focus,
[class*="bg-"]:active,
.bg-nt.btn-primary { background: #796eff; }

/* Background: #969696;*/
.bg-more { background: #969696; }

/* Background: pinterest;*/
.bg-pinterest { background: #e60000; }

/* Background: #fff;*/
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner,
.sppb-section-title > *,
.footer .sppb-optin-form button:hover,
.footer .sppb-optin-form button:focus,
.footer .sppb-optin-form button:active { background: #fff; }

/* Background: flickr;*/
.bg-flickr { background: #ff00a2; }

/* Background: #ffba00;*/
.bg-rss { background: #ffba00; }

/* Background: #f1f2f3;*/
.sppb-form form { background: #f1f2f3; }

/**
 * 4.0 Box shadow
 */

/* Box shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);*/
.sppb-share .dropdown-menu { box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15); }

/* Box shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);;*/
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner { box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16); }

/**
 * 5.0 Box color
 */

/* Border color: #cfd1d4;*/
.sppb-form .form-control { border-color: #cfd1d4 }

/* Border color: #dbdcde;*/
.sppb-share .dropdown-menu,
.sppb-share .dropdown-menu:before { border-color: #dbdcde; }

/* Border color: #dfdfdf;*/
.sppb-addon-feature.author { border-color: #dfdfdf; }

/* Border color: #e1e3e6;*/
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:after,
.dropdown-lang .dropdown-menu li > a:after { border-color: #e1e3e6; }

/* Border color: #eaedf0;*/
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item > a:before,
.dropdown-lang .dropdown-menu li > a:before { border-color: #eaedf0; }

/* Border color: #e4e7ea;*/
.sppb-section-title:before { border-color: #e4e7ea; }

/* Border color: #e5e5e7;*/
.sppb-addon-feature.icon-mid .author img,
.sppb-addon-feature.icon-mid,
.sppb-addon-feature.author .post-thumb,
.sppb-comments .post-thumb,
.sppb-comments .sppb-addon-feature { border-color: #e5e5e7; }

/* Border color: #3a394a;*/
.footer .border:before,
.footer .border:after { border-color: #3a394a; }

/* Border color: #796eff;*/
.bg-nt.btn-primary,
.btn-outline { border-color: #796eff; }

/* Border color: #000;*/
.sppb-addon-feature.icon-right + .icon-right:before,
.sppb-section-more { border-color: #000; }

/* Border color: rgba(0,0,0,.10);*/
.mostread .sppb-addon-feature + .sppb-addon-feature,
.offcanvas-menu .offcanvas-inner .search input { border-color: rgba(0,0,0,.1); }

/* Border color: rgba(255, 255, 255, .25);*/
.footer .sppb-optin-form input { border-color: rgba(255, 255, 255, .25); }

/**
 * 6.0 Radius
 */

/* Border radius: 3px;*/
.dropdown-search,
.dropdown-search [type="text"],
.bg-nt,
.sppb-social.flat > * { border-radius: 3px; }

/* Border radius: 50%;*/
.sppb-addon-feature.icon-mid .author img,
.sppb-addon-feature.author .post-thumb,
.sppb-comments .post-thumb { border-radius: 50%; }

/**
 * 7.0 Color
 */

/* Color: #0d1317;*/
.sppb-addon-feature .sppb-addon-title { color: #0d1317; }

/* Color: #0f0f0f;*/
.sppb-section-title,
.sppb-addon-counter,
.sppb-form h3 { color: #0f0f0f; }

/* Color: #00ccff;*/
.sppb-addon-counter .zmdi-twitter { color: #00ccff; }

/* Color: #060606;*/
.sppb-addon-feature.icon-mid .sppb-addon-text { color: #060606; }

/* Color: #121212;*/
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item > a,
.dropdown-search [type="text"],
.sppb-addon-feature.icon-mid .sppb-addon-title,
.sppb-addon-feature.author .text,
.sppb-form form > p,
.sppb-comments .text { color: #121212; }

/* Color: #131313;*/
.sppb-tags-label { color: #131313; }

/* Color: #161616;*/
.sppb-audio .zmdi { color: #161616; }

/* Color: #2862cd;*/
.sppb-addon-counter .zmdi-facebook { color: #2862cd; }

/* Color: #393939;*/
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after { color: #393939; }

/* Color: #3a3a3a;*/
.pagination { color: #3a3a3a; }

/* Color: #3e3e3f; */
.sppb-social { color: #3e3e3f; }

/* Color: #676767;*/
.sppb-addon-social.sm a,
.sppb-form { color: #676767; }

/* Color: #796eff;*/
a,
.sp-megamenu-parent li li.active>a,
#sp-header a.logo:hover,
#sp-header a.logo:focus,
#sp-header a.logo:active,
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:hover > a, 
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:focus > a, 
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:active > a, 
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item.active > a,
.dropdown-lang .dropdown-menu li > a:hover,
.dropdown-lang .dropdown-menu li > a:focus,
.dropdown-lang .dropdown-menu li > a:active,
.sppb-addon-feature .sppb-addon-title:hover,
.sppb-addon-feature .sppb-addon-title:focus,
.sppb-addon-feature .sppb-addon-title:active,
.sppb-section-title .sppb-title-subheading a:hover,
.sppb-section-title .sppb-title-subheading a:focus,
.sppb-section-title .sppb-title-subheading a:active,
.sppb-section-title .sppb-title-subheading:before,
.sppb-addon-feature .sppb-modal-selector:hover,
.sppb-addon-feature .sppb-modal-selector:focus,
.sppb-addon-feature .sppb-modal-selector:active,
.mostread .sppb-addon-feature .sppb-addon-content:before,
.footer .sppb-optin-form button:hover,
.footer .sppb-optin-form button:focus,
.footer .sppb-optin-form button:active,
.footer a:hover,
.footer a:focus,
.footer a:active,
.pager li>a:before, 
.pager li>span:before,
.pager li:first-child>a, 
.pager li:first-child>span,
.pager li:last-child>a:hover,
.pager li:last-child>a:focus,
.pager li:last-child>a:active, 
.pager li:last-child>span:hover,
.pager li:last-child>span:focus,
.pager li:last-child>span:active,
.sppb-social > * > .zmdi,
.sppb-addon-social.sm a:hover,
.sppb-addon-social.sm a:focus,
.sppb-addon-social.sm a:active,
.sppb-form h3 strong,
.bg-nt.btn-primary:hover,
.bg-nt.btn-primary:focus,
.bg-nt.btn-primary:active { color: #796eff; }

/* Color: #888;*/
.breadcrumb,
.sppb-image .caption { color: #888; }

/* Color: #919191;*/
body { color: #919191; }

/* Color: #cacaca;*/
.sppb-addon-feature.overlay { color: #cacaca; }

/* Color: #fff;*/
.sp-megamenu-parent >li>a,
.sp-megamenu-parent >li>span,
#sp-header a.logo,
.sp-search > a,
.sp-search [data-toggle="dropdown"],
.dropdown-search .dropdown-menu:after,
.bg-nt,
.sppb-addon-feature.overlay .sppb-addon-title,
.sppb-section-title .sppb-title-subheading:after,
.sppb-section-title .sppb-title-subheading > a:before,
.sppb-addon-feature .sppb-modal-selector,
.footer,
.footer a,
.pager li:last-child>a, 
.pager li:last-child>span,
.pager li:first-child>a:hover,
.pager li:first-child>a:focus,
.pager li:first-child>a:active, 
.pager li:first-child>span:hover,
.pager li:first-child>span:focus,
.pager li:first-child>span:active,
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>a:active,
.pagination>li.active>a,
.pagination>li>span:hover,
.pagination>li>span:focus,
.pagination>li>span:active,
.pagination>li.active>span,
.sppb-video .zmdi,
.sppb-share .dropdown-menu,
[class*="bg-"],
#offcanvas-toggler,
.offcanvas-menu .offcanvas-inner .search input,
.offcanvas-menu,
.close-offcanvas { color: #fff; }

/* Color: #ffba00;*/
.sppb-addon-counter .zmdi-rss,
.sppb-addon-feature.overlay .author a,
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li>a:hover,
.sp-megamenu-parent >li>a:focus,
.sp-megamenu-parent >li>a:active,
.sp-search > a:hover,
.sp-search > a:focus,
.sp-search > a:active,
.sp-search [data-toggle="dropdown"]:hover,
.sp-search [data-toggle="dropdown"]:focus,
.sp-search [data-toggle="dropdown"]:active,
.sppb-addon-feature.overlay .sppb-addon-title:hover,
.sppb-addon-feature.overlay .sppb-addon-title:focus,
.sppb-addon-feature.overlay .sppb-addon-title:active,
#sp-header a.logo:hover,
#sp-header a.logo:focus,
#sp-header a.logo:active,
.sppb-addon-feature.overlay a:hover,
.sppb-addon-feature.overlay a:focus,
.sppb-addon-feature.overlay a:active { color: #ffba00; }

/* Color: #f90000;*/
.sppb-addon-counter .zmdi-youtube-play { color: #f90000; }

/**
 * 8.0 Alignments
 */

/* Text transform: uppercase;*/
.sp-megamenu-parent >li >a, 
.sp-megamenu-parent >li >span { text-transform: uppercase; }

/* Text decoration: inherit;*/
a:hover,
a:focus,
a:active { text-decoration: inherit; }

/* Text align: center;*/
.sppb-addon-feature .sppb-modal-selector .zmdi,
.sppb-video .zmdi,
.sppb-share .dropdown-menu,
.sppb-social.flat > *,
.close-offcanvas { text-align: center; }

/* Text align: right;*/
.pagination>li>a,
.pagination>li>span { text-align: right; }

/* Transition: all .4s;*/
a,
#sp-header,
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item > a:before,
.dropdown-lang .dropdown-menu li > a,
.dropdown-lang .dropdown-menu li > a:before,
.dropdown-search .dropdown-menu,
.sppb-addon-feature .sppb-addon-title,
.footer .sppb-optin-form button,
.pager li>a,
.pager li>span,
.pager li>a:before,
.pager li>span:before,
.sppb-social .dropdown-menu,
.sppb-audio .zmdi,
.sppb-video .zmdi,
[class*="bg-"],
.bg-nt.btn-primary,
.offcanvas,
.body-wrapper,
.offcanvas-overlay,
.pagination:after,
.sppb-addon-feature:not(.overlay) .sppb-modal-selector:before { transition: all .4s; -webkit-transition: all .4s; -moz-transition: all .4s; -o-transition: all .4s; -ms-transition: all .4s; }

/**
 * 9.0 Transform
 */

/* Transform: translateY(-50%);*/
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after,
.sppb-addon-feature .sppb-modal-selector .zmdi,
.sppb-video .zmdi { transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); }

/**
 * 10.0 Placeholder
 */

/* Placeholder: firefox;*/
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.uneditable-input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

/* Placeholder: IE;*/
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.uneditable-input:-ms-input-placeholder {
  color: inherit;
}

/* Placeholder: webkit;*/
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.uneditable-input::-webkit-input-placeholder {
  color: inherit;
}

/**
 * 11.0 Animation
 */

/* Keyframe: a;*/
@keyframes a { 0% { transform: rotate(0deg); } to { transform: rotate(1turn); } }

/* Keyframe: spMenuFadeInUp;*/
@-webkit-keyframes spMenuFadeInUp { 0% { opacity: 0; -webkit-transform: translate3d(0,30px,0); } 100% { opacity: 1; -webkit-transform: none; } }
@keyframes spMenuFadeInUp { 0% { opacity: 0; transform: translate3d(0,30px,0); } 100% { opacity: 1; transform: none; } }

/* Animate: spMenuFadeInUp;*/
.sp-megamenu-parent.menu-fade-up .sp-has-child:hover >.sp-dropdown,
.sp-megamenu-parent.menu-fade-up .sp-has-child:focus >.sp-dropdown,
.sp-megamenu-parent.menu-fade-up .sp-has-child:active >.sp-dropdown,
.dropdown-lang:hover > .dropdown-menu,
.dropdown-lang:focus > .dropdown-menu,
.dropdown-lang:active > .dropdown-menu { display: block; -webkit-animation: spMenuFadeInUp 400ms; animation: spMenuFadeInUp 400ms; }

/**
 * 12.0 Gutter
 */

/* Gutter: 0px;*/
.row.no-gutter { margin-right: 0; margin-left: 0; }
.row.no-gutter > [class*="col-"] { padding-right: 0; padding-left: 0; }

/* Gutter: 5px;*/
.row.gutter5 { margin-right: -5px; margin-left: -5px; }
.row.gutter5 > [class*="col-"] { padding-right: 5px; padding-left: 5px; }

/* Gutter: 5px;*/
.row.gutter10 { margin-right: -10px; margin-left: -10px; }
.row.gutter10 > [class*="col-"] { padding-right: 10px; padding-left: 10px; }

/**
 * 13.0 Margin
 */

/* Margin bottom: 10px;*/
.mb10 { margin-bottom: 10px; }

/* Margin bottom: 17px;*/
.mb17 { margin-bottom: 27px; }

/* Margin bottom: 20px;*/
.mb20 { margin-bottom: 20px; }

/* Margin bottom: 10px;*/
.mb30 { margin-bottom: 30px; }

/* Margin bottom: 10px;*/
.mt40 { margin-top: 40px; }

/* Padding: ads1;*/
.pads1 { padding: 39px 0 32px; }

/**
 * 14.0 Section
 */

/* Section: hightlight;*/
#hightlight { margin: -79px 0 0; float: left; width: 100%; }
#hightlight > .row { display: flex; }
#hightlight > .row > [class*="col-"] { height: inherit; }

/* Section: hightlight - feature - box;*/
.hightlight .sppb-addon-feature.overlay { padding: 0 31px 26px; height: 100%; }

/* Section: hightlight - feature - thumb;*/
.hightlight .sppb-addon-feature.overlay .post-thumb { width: 100%; height: 350px; }

/* Section: latest;*/
#latest { overflow: hidden; clear: both; padding: 33px 0 0; }

/* Section: latest - img;*/
#latest img { width: 100%; }

/* Section: sp-main-body;*/
#sp-main-body { padding: 31px 0 61px; }

/* Section: video;*/
#video { padding: 23px 0 0; }

/* Section: life;*/
#life { padding: 32px 0 0; }

/* Section: ads3;*/
#ads3 { padding: 7px 0 33px; }
body.blog #ads3 { margin: -36px 0 0; }

/* Section: counter;*/
#counter { padding: 38px 0 0; }

/* Section: more - box;*/
.sppb-section-more { border-style: solid; border-width: 5px 0 0; padding: 33px 0 0; }
.sppb-section-more .sppb-addon-feature.icon-mid { border-width: 0; padding: 0 0 43px; }

/* Section: more - text;*/
.sppb-section-more .sppb-addon-text { position: relative; }
.sppb-section-more .sppb-addon-text:before { content: ""; position: absolute; right: 0; bottom: 0; left: 0; z-index: 1000; height: 82px; }

/* Section: more - button;*/
.sppb-section-more .btn { border-radius: inherit; height: 35px; padding: 0 10px; max-width: 550px; margin: 0 auto; }

/**
 * 15.0 Page
 */

/* Page: single;*/
body.single #sp-main-body > .container > .row > .col-md-12 { float: none; max-width: 850px; margin: 0 auto; }
body.single #sp-main-body .sppb-tags-label { margin: 25px 0 0; }
body.single #sp-main-body .sppb-addon-feature.author { margin: 38px 0 0; }
body.single #sp-main-body .sppb-form { padding: 13px 0 0; }
body.single #sp-main-body .sppb-comments .sppb-addon-feature:first-child { border-width: 0; margin: 0; }
body.single #sp-main-body .pads1 { padding: 50px 0 42px; }
body.single #sp-main-body .sppb-section-more { margin: 37px 0 6px; }

/**
 * 16.0 Sidebar
 */

/* Sidebar;*/
body:not(.home) #sp-main-body > .container > .row > [class*="col-md"]:not(.col-md-12):first-child #ads3 { margin: -7px 0 0; }

/**
 * 18.0 Addon
 */

/* Addon: logo;*/
a.logo { display: block; overflow: hidden; }
a.logo > img { animation: a 2s infinite linear; -webkit-animation: a 2s infinite linear; -moz-animation: a 2s infinite linear; -o-animation: a 2s infinite linear; -ms-animation: a 2s infinite linear; }
a.logo > * { float: left; }
a.logo > img + span { padding: 0 0 0 11px; }

/* Addon: header - box;*/
#sp-header { position: relative; top: 0; z-index: 99; padding: 0 60px; width: 100%; height: 79px; }
#sp-header.menu-fixed { position: fixed; z-index: 9999; }
#sp-header > .row > [class*="col-"] { position: static; }

/* Addon: header - logo;*/
#sp-header a.logo { padding: 19px 0 0; }

/* Addon: header - mainmenu - box;*/
.sp-megamenu-wrapper ul { list-style: none; padding: 0; margin: 0; }

/* Addon: header - mainmenu - level1 - box;*/
.sp-megamenu-parent >li,
.sp-megamenu-parent >li>a,
.sp-megamenu-parent >li>span { display: inline-block; }
.sp-megamenu-parent li.sp-menu-item { position: relative; }

/* Addon: header - mainmenu - level1 - a;*/
.sp-megamenu-parent >li >a, 
.sp-megamenu-parent >li >span { padding: 0 15px; }

/* Addon: header - mainmenu - level2 - box;*/
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:after { content: ""; opacity: 0.9; border-width: 0 0 1px; border-style: solid; position: absolute; right: 0; bottom: 0; left: 0; z-index: 2; }

/* Addon: header - mainmenu - level2 - a;*/
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item > a { position: relative; z-index: 1; overflow: hidden; padding: 8px 20px 9px 16px; display: block; }
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item > a:before { content: ""; border-width: 0; border-style: solid; position: absolute; top: 0; bottom: 0; left: 0; z-index: -1; }
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:hover > a:before, 
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:focus > a:before, 
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:active > a:before, 
.sp-dropdown:not(.sp-menu-full) li.sp-menu-item.active > a:before { border-width: 0 0 0 300px; }
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after { position: absolute; top: 50%; right: 15px; }

/* Addon: header - mainmenu - level2 - dropdown;*/
.sp-megamenu-parent .sp-dropdown.sp-dropdown-sub { top: 0; left: 100%; }

/* Addon: header - mainmenu - dropdown;*/
.sp-megamenu-parent .sp-dropdown { position: absolute; z-index: 10; display: none; min-width: 220px; }
.sp-dropdown-main.sp-dropdown:not(.sp-menu-full) > .sp-dropdown-inner { position: relative; top: -5px; }
.sp-dropdown-main.sp-dropdown:not(.sp-menu-full) > .sp-dropdown-inner:before { content: ""; position: absolute; top: -7px; left: 20px; width: 15px; height: 15px; background: inherit; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); }

/* Addon: header - mainmenu - dropdown-mega;*/
.sp-megamenu-parent >li.menu-justify { position: static; }
.sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-full { left: 0; right: 0; }

/* Addon: header2;*/
body:not(.home) #sp-header { height: 60px; }
body:not(.home) #sp-header a.logo { padding: 7.5px 0 0; }

/* Addon: sp-search - box;*/
.sp-search > * { float: right; }

/* Addon: sp-search - dropdown;*/
.sp-search > a,
.sp-search [data-toggle="dropdown"] { display: inline-block; }
.sp-search .dropdown-menu { min-width: 200px; margin: 0; padding: 0; border-width: 0; }

/* Addon: dropdown-lang - box;*/
.dropdown-lang { padding: 0 20px; margin: 0 20px; }
.dropdown-lang:before,
.dropdown-lang:after { content: ""; position: absolute; top: 0; bottom: 0; border-top: 30px solid; width: 1px; height: 30px; margin: auto 0; opacity: .3; }
.dropdown-lang:before { left: 0; }
.dropdown-lang:after { right: 0; }

/* Addon: dropdown-lang - img;*/
.dropdown-lang img { margin: 0 5px 0 0; }
.dropdown-lang > [data-toggle="dropdown"] img { vertical-align: unset; margin: 0 1px 0 0; }

/* Addon: dropdown-lang - title;*/
.dropdown-lang > [data-toggle="dropdown"] .zmdi { margin: 0 0 0 11px; }

/* Addon: dropdown-lang - drop;*/
.dropdown-lang .dropdown-menu { border-radius: inherit; }
.dropdown-lang .dropdown-menu:before { content: ""; position: absolute; top: -7px; right: 20px; width: 15px; height: 15px; background: inherit; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); }
.dropdown-lang .dropdown-menu li > a { position: relative; z-index: 1; overflow: hidden; padding: 2px 15px 3px 15px; }
.dropdown-lang .dropdown-menu li > a:before, 
.dropdown-lang .dropdown-menu li > a:after { content: ""; position: absolute; bottom: 0; left: 0; z-index: -1; }
.dropdown-lang .dropdown-menu li > a:hover,
.dropdown-lang .dropdown-menu li > a:focus,
.dropdown-lang .dropdown-menu li > a:active { background: inherit; }
.dropdown-lang .dropdown-menu li > a:before { border-width: 0; border-style: solid; top: 0; }
.dropdown-lang .dropdown-menu li > a:hover:before, 
.dropdown-lang .dropdown-menu li > a:focus:before, 
.dropdown-lang .dropdown-menu li > a:active:before, 
.dropdown-lang .dropdown-menu li.active > a:before { border-width: 0 0 0 300px; }
.dropdown-lang .dropdown-menu li > a:after { opacity: 0.9; border-width: 0 0 1px; border-style: solid; position: absolute; right: 0; }

/* Addon: dropdown-search - drop;*/
.dropdown-search .dropdown-menu { height: 40px; min-width: 306px; padding: 0; margin: auto 0; top: 0; right: 50px; bottom: 0; display: block; visibility: hidden; opacity: 0; box-shadow: inherit; }
.dropdown-search.open .dropdown-menu { right: 30px; visibility: visible; opacity: 1; }
.dropdown-search .dropdown-menu:after { content: ""; position: absolute; top: 0; right: -12px; bottom: 0; margin: auto 0; width: 6px; height: 12px; border-style: solid; border-width: 6px; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; }

/* Addon: dropdown-search - text;*/
.dropdown-search [type="text"] { height: 40px; padding: 10px; width: 100%; border-width: 0; box-shadow: inherit; display: block; }
.dropdown-search [type="text"]:focus,
.dropdown-search [type="text"]:active { outline: inherit; }

/* Addon: sppb-addon-feature - tags;*/
.sppb-addon-feature .tags { padding: 0 18px; display: inline-block; margin: 0 0 5px; }

/* Addon: spp-addon-feature - title;*/
.sppb-addon-feature .sppb-addon-title { margin: 9px 0; }
.sppb-addon-feature .h1.sppb-addon-title { margin: 0 0 6px; }
.sppb-addon-feature h2.sppb-addon-title { margin: 0 0 5px; }
.sppb-addon-feature h3.sppb-addon-title { margin: 16px 0 10px; }

/* Addon: sppb-addon-feature - meta;*/
.sppb-addon-feature .meta > * + *:before { content: ","; position: relative; left: -3px; }

/* Addon: sppb-addon-feature.icon-right - box;*/
.sppb-addon-feature.icon-right { padding: 0 128px 0 0; position: relative; min-height: 100px; }
.sppb-addon-feature.icon-right + .icon-right { margin: 21px 0 0; }
.sppb-addon-feature.icon-right + .icon-right:before { content: ""; position: absolute; top: -11px; right: 0; left: 0; border-style: solid; border-width: 1px 0 0; opacity: .15; }

/* Addon: sppb-addon-feature.icon-right - image;*/
.sppb-addon-feature.icon-right .post-thumb { position: absolute; top: 0; right: 0; max-width: 100px; max-height: 100px; }

/* Addon: sppb-addon-feature.icon-right - title;*/
.sppb-addon-feature.icon-right .sppb-addon-title { margin: 0; padding: 6px 0 9px; }

/* Addon: sppb-addon-feature.icon-left - box;*/
.sppb-addon-feature.icon-left { padding: 5px 0 0 330px;; position: relative; min-height: 200px; }
.sppb-addon-feature.icon-left + .icon-left { margin: 20px 0 0; }

/* Addon: sppb-addon-feature.icon-left - image;*/
.sppb-addon-feature.icon-left .post-thumb { position: absolute; top: 0; left: 0; max-width: 300px; max-height: 200px; }

/* Addon: sppb-addon-feature.icon-left - title;*/
.sppb-addon-feature.icon-left h3.sppb-addon-title { margin-top: 0; }

/* Addon: sppb-addon-feature.overlay - box;*/
.sppb-addon-feature.overlay,
.sppb-addon-feature.overlay > * { position: relative; }
.sppb-addon-feature.overlay { background-position: center; background-size: cover; background-repeat: no-repeat; padding: 0 21px 16px; }
.sppb-addon-feature.overlay:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

/* Addon: sppb-addon-feature.overlay - image;*/
.sppb-addon-feature.overlay .post-thumb { visibility: hidden; }
.sppb-addon-feature.overlay .post-thumb.w570x370 { height: 293px; }
.sppb-addon-feature.overlay .post-thumb.w870x500 { height: 388px; }
.sppb-addon-feature.overlay .post-thumb.w420x280 { height: 165px; }

/* Addon: sppb-addon-feature.overlay - video;*/
.sppb-addon-feature.overlay .sppb-modal-selector { position: static; }
.sppb-addon-feature:not(.overlay) .sppb-modal-selector { display: block; position: relative; }
.sppb-addon-feature:not(.overlay) .sppb-modal-selector:before { content: ""; position: absolute; top: 0; right: 0; right: 0; bottom: 0; left: 0; opacity: 0; }
.sppb-addon-feature:not(.overlay) .sppb-modal-selector:hover:before,
.sppb-addon-feature:not(.overlay) .sppb-modal-selector:focus:before,
.sppb-addon-feature:not(.overlay) .sppb-modal-selector:active:before { opacity: .8; }
.sppb-addon-feature .sppb-modal-selector .zmdi { position: absolute; top: 50%; right: 0; left: 0; margin: auto; }

/* Addon: sppb-section-title - box;*/
.sppb-section-title,
.sppb-section-title > * { position: relative; }
.sppb-section-title { overflow: hidden; margin: 0 0 15px; }
.sppb-section-title:before { content: ""; height: 5px; border-width: 5px 0 0; border-style: solid; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto 0; }

/* Addon: sppb-section-title - text1;*/
.sppb-section-title h4 { float: left; font-weight: inherit; margin: 0; line-height: inherit; padding: 0 20px 0 0; }

/* Addon: sppb-section-title - text2;*/
.sppb-section-title .sppb-title-subheading { float: right; margin: 0; padding: 0 31px 0 17px; }
.sppb-section-title .sppb-title-subheading:before,
.sppb-section-title .sppb-title-subheading:after,
.sppb-section-title .sppb-title-subheading > a:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; margin: auto; border-style: solid; }
.sppb-section-title .sppb-title-subheading:before { border-width: 15px 0 0; height: 15px; width: 15px; }
.sppb-section-title .sppb-title-subheading:after { width: 15px; height: 9px; border-width: 3px 0; }
.sppb-section-title .sppb-title-subheading > a:before { width: 9px; height: 15px; right: 3px; border-width: 0 3px; }
.sppb-section-title .sppb-title-subheading a { color: inherit; }

/* Addon: megamenu - featured-box;*/
.sp-dropdown-mega .sppb-addon-feature .sppb-addon-title { margin: 11px 0 27px 20px; }

/* Addon: mostread;*/
.mostread .sppb-addon-features { counter-reset: l; }
.mostread .sppb-addon-feature { counter-increment: l; }
.mostread .sppb-addon-feature + .sppb-addon-feature { border-style: solid; border-width: 1px 0 0; padding: 20px 0 0; margin: 17px 0 0; }
.mostread .sppb-addon-feature .sppb-addon-content { position: relative; padding: 6px 0 0 43px; }
.mostread .sppb-addon-feature .sppb-addon-content:before { content: counter(l); position: absolute; top: 4px; left: 0; }

/* Addon: sppb-addon-counter - box;*/
.sppb-addon-counter { position: relative; padding: 23px 0 16px; }

/* Addon: sppb-addon-counter - icon;*/
.sppb-addon-counter .zmdi:after { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 1px solid; }

/* Addon: spp-addon-couter - num;*/
.sppb-addon-counter .sppb-animated-number { padding: 4px 0; }

/* Addon: iframe;*/
iframe { width: 100%; border-width: 0; }

/* Addon: sppb-menu;*/
.sppb-menu { list-style: none; padding: 0; margin: 0; }
.sppb-menu li a:before { content: ""; display: inline-block; border: 2px solid; vertical-align: middle; margin: 0 10px 0 0; }

/* Addon: footer - box;*/
.footer { padding: 33px 0 40px; }

/* Addon: footer - title;*/
.footer .subtitle { margin: -4px 0 16px; }

/* Addon: footer - menu;*/
.footer .menu { margin: 1px 0 0; }

/* Addon: footer - logo;*/
.footer a.logo { display: inline-block; }
.footer a.logo > img ~ span { padding-top: 3px; }

/* Addon: footer - tags;*/
.footer .sppb-addon-tags { padding: 10px 0 0; }
.footer .sppb-addon-tags a { display: inline-block; }
.footer .sppb-addon-tags a + a:before { content: "-"; padding: 0 5px 0 3px; }

/* Addon: footer - form;*/
.footer .sppb-optin-form { width: 300px; display: inline-block; }
.footer .sppb-optin-form input,
.footer .sppb-optin-form button { border-radius: inherit; height: 35px; padding: 0 10px; text-align: inherit; font-family: inherit; font-size: inherit; color: inherit; }

/* Addon: footer - form - input;*/
.footer .sppb-optin-form input { background: inherit; margin: 0 0 10px; }

/* Addon: footer - form - button;*/
.footer .sppb-optin-form button { border-width: 0; }

/* Addon: footer - border;*/
.footer .border { position: relative; padding: 10px 0 5px; margin: 7px 0 0; }
.footer .border:before,
.footer .border:after { content: ""; position: absolute; top: 0; bottom: 0; border-width: 228px 0 0; border-style: solid; height: 228px; width: 1px; margin: auto 0; }
.footer .border:before { left: 0; }
.footer .border:after { right: 0; }

/* Addon: social;*/
.sppb-addon-social { padding: 13px 0; }
.sppb-addon-social a { padding: 0 12px; }

/* Addon: social.sm;*/
.sppb-addon-social.sm a { padding: 0 15px 0 0; }

/* Addon: pager - box;*/
.pager { padding-top: 60px; }

/* Addon: pager - links;*/
.pager li>a, 
.pager li>span { border-radius: inherit; height: 35px; padding: 0 10px; min-width: 300px; border-width: 0; position: relative; z-index: 1; overflow: hidden; margin: 0 3.5px; }
.pager li>a:hover,
.pager li>a:focus,
.pager li>a:active, 
.pager li>span:hover,
.pager li>span:focus,
.pager li>span:active { background: inherit; }
.pager li>a:before, 
.pager li>span:before { content: ""; border: 1px solid; position: absolute; z-index: -1; top: 0; right: 0; bottom: 0; left: 0; }
.pager li:last-child>a:before, 
.pager li:last-child>span:before,
.pager li:first-child>a:hover:before, 
.pager li:first-child>a:focus:before,
.pager li:first-child>a:active:before,
.pager li:first-child>span:hover:before,
.pager li:first-child>span:focus:before,
.pager li:first-child>span:active:before { border-width: 35px 0 0; }
.pager li:last-child>a:hover:before,
.pager li:last-child>a:focus:before,
.pager li:last-child>a:active:before, 
.pager li:last-child>span:hover:before,
.pager li:last-child>span:focus:before,
.pager li:last-child>span:active:before { border-width: 1px; }

/* Addon: pagination - box;*/
.pager + .pagination { margin-top: -5px; margin-bottom: -6px; }
.pagination { border-radius: inherit; }
.pagination:before,
.pagination:after { position: relative; }
.pagination:before { content: "Showing:"; left: 2px; }
.pagination:after { content: "Pages"; }

/* Addon: pagination - links;*/
.pagination>li:first-child>a, 
.pagination>li:first-child>span,
.pagination>li:last-child>a, 
.pagination>li:last-child>span { border-radius: inherit; }
.pagination>li>a,
.pagination>li>span { color: inherit; border-width: 0; padding: 3px 5px 3px 0; min-width: 27px; margin: 0 5px; float: none; display: inline-block; }

/* Addon: breadcrumb;*/
.breadcrumb { background: inherit; border-radius: inherit; padding: 10px 0 7px; margin: 0; }
.breadcrumb>li+li:before { color: inherit; content: attr(data-s); padding: 0 7px 0 3px; }

/* Addon: sppb-addon-feature.icon-mid - box;*/
.sppb-addon-feature.icon-mid > *:not(a) { padding: 0 80px 0 98px; }
.sppb-addon-feature.icon-mid { border-width: 0 0 1px; border-style: solid; margin: 0 0 30px; padding: 0 0 30px; }
.sppb-addon-feature.icon-mid:last-child { margin: 0 0 -30px; }

/* Addon: sppb-addon-feature.icon-mid - meta;*/
.sppb-addon-feature.icon-mid .meta { padding-bottom: 15px; }
.sppb-addon-feature.icon-mid .author img { border-style: solid; border-width: 2px; margin: 0 5px 0 0; }

/* Addon: sppb-addon-feature.icon-mid - text;*/
.sppb-addon-feature.icon-mid .sppb-image,
.sppb-addon-feature.icon-mid .sppb-audio,
.sppb-addon-feature.icon-mid .sppb-video { margin: 0 0 24px; }
.sppb-addon-feature.icon-mid .sppb-addon-text { margin: 15px 0 25px; }

/* Addon: sppb-media;*/
.sppb-audio,
.sppb-video { position: relative; }
.sppb-audio .zmdi,
.sppb-video .zmdi { position: absolute; }
.sppb-audio:hover .zmdi,
.sppb-audio:focus .zmdi,
.sppb-audio:active .zmdi,
.sppb-video:hover .zmdi,
.sppb-video:focus .zmdi,
.sppb-video:active .zmdi { color: inherit; }
.sppb-audio .zmdi { top: 30px; left: 101px; }
.sppb-video .zmdi { top: 50%; right: 0; left: 0; margin: auto 0; }
.sppb-image .caption { margin: 8px 0 0; }

/* Addon: sppb-social;*/
.sppb-social > * { display: inline-block; margin: 0 24px 0 0; }
.sppb-social > * > .zmdi { margin: 0 6px 0 0; }

/* Addon: sppb-social-flat;*/
.sppb-social.flat { font-family: inherit; }
.sppb-social.flat > * { min-width: 100px; padding: 0 10px; margin: 0 2px 0 0; }
.sppb-social.flat > .sppb-share { padding: 0; }
.sppb-social.flat .zmdi { color: inherit; }
.sppb-social.flat .sppb-animated-number { padding: 0 0 0 6px; }
.sppb-social.flat [data-toggle="dropdown"] { display: block; border-radius: inherit; }
.sppb-social.flat .sppb-share.open .dropdown-menu { left: 110%; }

/* Addon: sppb-share;*/
.sppb-share .dropdown-menu { min-width: 179px; padding: 7px; margin: 0; top: -12px; left: 50px; visibility: hidden; display: block; opacity: 0; }
.sppb-share .dropdown-menu:before,
.sppb-share .dropdown-menu:after { content: ""; position: absolute; top: 0; left: -12px; bottom: 0; margin: auto 0; border-style: solid; border-width: 6px; height: 6px; border-top-color: transparent; border-left-color: transparent; border-bottom-color: transparent; }
.sppb-share .dropdown-menu:after { left: -11px; }
.sppb-share.open .dropdown-menu { left: 22px; visibility: visible; opacity: 1; }
.sppb-share .dropdown-menu a { float: left; width: 30px; height: 30px; color: inherit; margin: 0 3px 0 0; }
.sppb-share .dropdown-menu a:last-child { margin: 0; }

/* Addon: article.sppb-addon-feature;*/
article.sppb-addon-feature { padding-bottom: 27px; }
article.sppb-addon-feature .h1.sppb-addon-title { margin: 0 0 10px; }
article.sppb-addon-feature.icon-mid .meta { padding-bottom: 18px; }
article.sppb-addon-feature.icon-mid .sppb-addon-text { margin: 19px 0 36px; }

/* Addon: sppb-tags-label;*/
.sppb-tags-label > * { display: inline-block; }
.sppb-tags-label a + a { margin: 0 0 0 16px; }
.sppb-tags-label span { margin: 0 8px 0 0; }

/* Addon: sppb-addon-feature.author - box;*/
.sppb-addon-feature.author { border-width: 1px; border-style: solid; padding: 15px 15px 15px 150px; }
.sppb-addon-feature.author .post-thumb { border-width: 2px; border-style: solid; top: 18px; left: 18px; }
.sppb-addon-feature.author .sppb-addon-social { padding: 6px 0 4px; }

/* Addon: btn-primary;*/
.bg-nt.btn-primary:hover,
.bg-nt.btn-primary:focus,
.bg-nt.btn-primary:active { background: inherit; }

/* Addon: sppb-form - box;*/
.sppb-form h3 { font-weight: inherit; }
.sppb-form > p { margin: 0 0 18px; }
.sppb-form form { padding: 20px 20px 30px 20px; }
.sppb-form .form-group { margin-bottom: 10px; }

/* Addon: sppb-form - control;*/
.sppb-form .form-control { border-radius: inherit; box-shadow: inherit; height: 35px; font-size: inherit; }
.sppb-form textarea.form-control { height: 100px; }

/* Addon: sppb-form - button;*/
.sppb-form .btn { height: 35px; border-radius: inherit; font-size: inherit; padding-top: 0; padding-bottom: 0; }

/* Addon: sppb-comments - box;*/
.sppb-comments .sppb-addon-feature { padding: 17px 0 0 74px; border-style: solid; border-width: 1px 0 0; margin: 22px 0 0; min-height: 97px; }

/* Addon: sppb-comments - author;*/
.sppb-comments .sppb-addon-feature.icon-left .post-thumb { border-width: 2px; border-style: solid; top: 20px; }

/* Addon: sppb-comments - text;*/
.sppb-comments .text { padding: 0 0 7px; }

/* Addon: sppb-comments - action;*/
.sppb-comments .btn { min-width: 70px; }

/* Addon: btn-outline;*/
.btn-outline { border-width: 1px; border-style: solid; padding: 0 5px; height: 20px; border-radius: inherit; }

/* Addon: offcanvas-toggler;*/
#offcanvas-toggler { float: right; }

/* Addon: offcanvas - normal;*/
.off-canvas-menu-init { overflow-x: hidden; position: relative; }
.offcanvas-overlay { bottom: 0; left: 0; opacity: 0; position: absolute; right: 0; top: 0; z-index: 9999; visibility: hidden; opacity: 0.5; }
.off-canvas-menu-init .body-wrapper { position: relative; right: 0; backface-visibility: hidden; }
.close-offcanvas { position: absolute; top: 15px; right: 15px; z-index: 1; }
.offcanvas-menu { width: 320px; height: 100%; position: fixed; top: 0; right: 0; -webkit-transform: translateX(320px); transform: translateX(320px); visibility: hidden; overflow: inherit; z-index: 10000; }
.off-canvas-menu-init .offcanvas-inner { padding: 50px 20px 20px; }
.off-canvas-menu-init .offcanvas-inner .sppb-addon { margin: 0 0 30px; }
.off-canvas-menu-init .offcanvas-inner a { color: inherit; }

/* Addon: offcanvas - active;*/
.offcanvas { width: 100%; height: 100%; position: relative; }
.offcanvas .body-wrapper { right: 0; -webkit-transform: translateX(-320px); transform: translateX(-320px); }
.offcanvas .body-wrapper:after { width: 100%; height: 100%; right: 0; }
.offcanvas .offcanvas-menu { visibility: visible; z-index: 9999; right: 0; -webkit-transform: translateX(0); transform: translateX(0); }
.offcanvas .offcanvas-overlay { visibility: visible; }

/* Addon: image;*/
.img-auto { margin: 0 auto; }
.img-fitw { width: 100%; }

/**
 * 19.0 Responsive
 */

 /* Responsive: large desktop;*/
 @media(min-width: 1170px) {

 	/* Backgorund: #393939;*/
	.layout-boxed #sp-header { background: #393939; }

	/* Background: #fff;*/
	.layout-boxed .body-innerwrapper { background: #fff; }

	/* Box shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);*/
	.layout-boxed .body-innerwrapper { box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16); }

	/* Page: boxed;*/
	.layout-boxed .body-innerwrapper { max-width: 1240px; margin: 0 auto; }
	.layout-boxed #sp-header { left: 0; }

	/* Addon: theme-options;*/
	.template-options { display: block; }
 }

/* Responsive: small desktop;*/
@media(min-width: 992px) and (max-width: 1450px) {

	/* Font size: 25px;*/
	.sppb-addon-feature .h1.sppb-addon-title { font-size: 25px; }

	/* Line height: 25px;*/
	.sppb-addon-feature .h1.sppb-addon-title { line-height: inherit; }

	/* Text align: right;*/
	.sp-megamenu-parent { text-align: right; }
	
	/* Addon: header;*/
	#sp-header { padding-right: 30px; padding-left: 30px; }
	#sp-header > .row > .hidden-sm { display: none; }
	#sp-header > .row > * { width: 75%; }
	#sp-header > .row > *:first-child { width: 25%; }

	/* Addon: header - menu;*/
	.sp-megamenu-parent > li > .sp-dropdown { text-align: initial; }

	/* Addon: highlight;*/
	#hightlight > .row > [class*="col-"] { width: calc(100% / 3); }

	/* Sidebar: home;*/
	.sidebar { display: none; }
	#sp-main-body > .container > .row > .col-md-9 { width: 100%; }
}

/* Responsive: tablet;*/
@media(max-width: 991px) {

	/* Addon: mb30-sm;*/
	.mb30-sm { margin-bottom: 30px; }

	/* Section: video;*/
	#video .post-thumb { width: 100%; }

	/* Addon: footer - border;*/
	.footer .border:before,
	.footer .border:after { display: none; }

	/* Addon: footer - subscribe;*/
	.footer .sppb-optin-form { width: 100%; }

	/* Addon: sppb-comments;*/
	.sppb-comments .sppb-addon-feature .sppb-addon-feature { margin-left: -74px; }

	/* Addon: highlight;*/
	#hightlight > .row { display: block; }
	.sppb-addon-feature .h1.sppb-addon-title br { display: none; }

	/* Addon: latest;*/
	#latest .col-sm-6:nth-child(2n+1) { clear: both; }
}

/* Responsive: mobile;*/
@media(max-width: 767px) {

	/* Font size: 24px;*/
	.sppb-addon-feature .h1.sppb-addon-title,
	article.sppb-addon-feature .h1.sppb-addon-title { font-size: 24px; }

	/* Font size: 20px;*/
	.sppb-addon-feature h2.sppb-addon-title,
	.sppb-addon-feature.icon-left h3.sppb-addon-title,
	.sppb-addon-feature h3.sppb-addon-title { font-size: 20px; }

	/* Line height: 16px;*/
	.sppb-addon-feature.icon-right .sppb-addon-title { font-size: 14px; }

	/* Line height: 12px;*/
	.sppb-addon-feature.icon-right .meta { font-size: 12px; }

	/* Line height: 24px;*/
	.sppb-addon-feature .h1.sppb-addon-title,
	.sppb-addon-feature h2.sppb-addon-title,
	article.sppb-addon-feature .h1.sppb-addon-title,
	.sppb-addon-feature.icon-left h3.sppb-addon-title,
	.sppb-addon-feature h3.sppb-addon-title { line-height: inherit; }

	/* Margin bottom: 30px;*/
	.mb30-xs { margin-bottom: 30px; }

	/* Addon: sp-header;*/
	#sp-header { padding: 0 30px; }

	/* Addon: logo;*/
	a.logo > span { display: none; }

	/* Addon: sppb-list;*/
	.sppb-list .sppb-addon-feature.icon-left { padding: 0; }
	.sppb-list .sppb-addon-feature.icon-left .post-thumb { position: static; max-width: 100%; max-height: 100%; margin: 0 0 15px; width: 100%; }

	/* Addon: feature;*/
	.sppb-addon-feature h3.sppb-addon-title br { display: none; }

	/* Section: highlight;*/
	.hightlight .sppb-addon-feature.overlay .post-thumb { height: auto; }

	/* Addon: section title;*/
	.sppb-section-title .sppb-title-subheading { display: none; }

	/* Addon: modal;*/
	.sppb-addon-feature.overlay .sppb-modal-selector .zmdi { display: none; }

	/* Addon: ads3;*/
	body.blog #ads3 { margin: 50px 0 0; }

	/* Addon: pager;*/
	.pager li>a, .pager li>span { min-width: initial; padding: 0 20px; }

	/* Addon: pagination;*/
	.pagination:before,
	.pagination:after { display: none; }

	/* Addon: icon-mid;*/
	.sppb-addon-feature.icon-mid > *:not(a) { padding-left: 0; padding-right: 0; }
	.sppb-addon-feature.icon-mid .author img { display: none; }

	/* Addon: sppb-share;*/
	.sppb-share .dropdown-menu { right: 50px; left: auto; }
	.sppb-share.open .dropdown-menu { right: 22px; left: auto; }
	.sppb-social.flat .sppb-share .dropdown-menu { right: auto; left: 0; }
	.sppb-share .dropdown-menu:before, .sppb-share .dropdown-menu:after { display: none; }

	/* Addon: sppb-social-flat;*/
	.sppb-social.flat > * { margin-bottom: 10px; }

	/* Addon: author;*/
	.sppb-addon-feature.author { padding-left: 15px; }
	.sppb-addon-feature.author .post-thumb { display: none; }

	/* Addon: img-fitw-xs;*/
	.img-fitw-xs { width: 100%; }

	/* Addon: feature - overlay;*/
	.sppb-addon-feature.overlay .post-thumb.w570x370,
	.sppb-addon-feature.overlay .post-thumb.w870x500,
	.sppb-addon-feature.overlay .post-thumb.w420x280 { height: auto; }

	/* Addon: feature - mid;*/
	.sppb-section-more .sppb-addon-feature.icon-mid:not(:last-child) { padding: 0; }

	/* Addon: breadcrumb;*/
	.breadcrumb > li:first-child,
	.breadcrumb > li:first-child + li:before { display: none; }

	/* Addon: share;*/
	.sppb-social.flat > .sppb-share { display: none; }

	/* Sidebar;*/
	.sidebar { display: none; } 
}
















