@font-face {
  font-family: brandon-grotesque;
  font-style: lighter;
	font-weight: 100;
  src: url("../fonts/brandon-grotesque/BrandonGrotesque-Light.eot") format("eot"), url("../fonts/brandon-grotesque/BrandonGrotesque-Light.otf") format("opentype"), url("../fonts/brandon-grotesque/BrandonGrotesque-Light.woff") format("woff"), url("../fonts/brandon-grotesque/BrandonGrotesque-Light.ttf") format("truetype"), url("../fonts/brandon-grotesque/BrandonGrotesque-Light.svg#BrandonGrotesque-Light") format("svg");
}
@font-face {
  font-family: brandon-grotesque;
  font-style: normal;
  src: url("../fonts/brandon-grotesque/BrandonGrotesque-Regular.eot") format("eot"), url("../fonts/brandon-grotesque/BrandonGrotesque-Regular.otf") format("opentype"), url("../fonts/brandon-grotesque/BrandonGrotesque-Regular.woff") format("woff"), url("../fonts/brandon-grotesque/BrandonGrotesque-Regular.ttf") format("truetype"), url("../fonts/brandon-grotesque/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular") format("svg");
}
@font-face {
  font-family: brandon-grotesque;
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/brandon-grotesque/BrandonGrotesque-Bold.eot") format("eot"), url("../fonts/brandon-grotesque/BrandonGrotesque-Bold.otf") format("opentype"), url("../fonts/brandon-grotesque/BrandonGrotesque-Bold.woff") format("woff"), url("../fonts/brandon-grotesque/BrandonGrotesque-Bold.ttf") format("truetype"), url("../fonts/brandon-grotesque/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold") format("svg");
}
@font-face {
  font-family: brandon-grotesque;
  font-style: bolder;
  font-weight: 900;
  src: url("../fonts/brandon-grotesque/BrandonGrotesque-Black.eot") format("eot"), url("../fonts/brandon-grotesque/BrandonGrotesque-Black.otf") format("opentype"), url("../fonts/brandon-grotesque/BrandonGrotesque-Black.woff") format("woff"), url("../fonts/brandon-grotesque/BrandonGrotesque-Black.ttf") format("truetype"), url("../fonts/brandon-grotesque/BrandonGrotesque-Black.svg#BrandonGrotesque-Black") format("svg");
}



@font-face {
   font-family: 'Druk-Wide-Bold-Italic';
   src: url('Druk-Wide-Bold-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Bold';
   src: url('Druk-Wide-Bold.otf');
}
@font-face {
   font-family: 'Druk-Wide-Heavy-Italic';
   src: url('Druk-Wide-Heavy-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Heavy';
   src: url('Druk-Wide-Heavy.otf');
}
@font-face {
   font-family: 'ZCOOL KuaiLe-Italic';
   src: url('ZCOOL KuaiLe-Italic.otf');
}
@font-face {
   font-family: 'ZCOOL KuaiLe';
   src: url('ZCOOL KuaiLe.otf');
}
@font-face {
   font-family: 'Druk-Wide-Super-Italic';
   src: url('Druk-Wide-Super-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Super';
   src: url('Druk-Wide-Super.otf');
}
