@font-face {
   font-family: 'BentonSans-Medium';
   src: url('BentonSans-Medium/BentonSans-Medium.woff');
}
@font-face {
   font-family: 'BentonSans-Thin';
   src: url('BentonSans-Thin/BentonSans-Thin.woff');
}
@font-face {
   font-family: 'BentonSans-Light';
   src: url('BentonSans-Light/BentonSans-Light.woff');
}
@font-face {
   font-family: 'BentonSans-ExtraLight';
   src: url('BentonSans-ExtraLight/BentonSans-ExtraLight.woff');
}
@font-face {
   font-family: 'BentonSans-Book';
   src: url('BentonSans-Book/BentonSans-Book.woff');
}
@font-face {
   font-family: 'BentonSans-Bold';
   src: url('BentonSans-Bold/BentonSans-Bold.woff');
}
@font-face {
   font-family: 'BentonSans-Black';
   src: url('BentonSans-Black/BentonSans-Black.woff');
}



@font-face {
   font-family: 'Cabin';
   src: url('Cabin.otf');
}
@font-face {
   font-family: 'Cabin';
   src: url('Cabin.otf');
}



@font-face {
   font-family: 'Druk-Wide-Bold-Italic';
   src: url('Druk-Wide-Bold-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Bold';
   src: url('Druk-Wide-Bold.otf');
}
@font-face {
   font-family: 'Druk-Wide-Heavy-Italic';
   src: url('Druk-Wide-Heavy-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Heavy';
   src: url('Druk-Wide-Heavy.otf');
}
@font-face {
   font-family: 'ZCOOL KuaiLe-Italic';
   src: url('ZCOOL KuaiLe-Italic.otf');
}
@font-face {
   font-family: 'ZCOOL KuaiLe';
   src: url('ZCOOL KuaiLe.otf');
}
@font-face {
   font-family: 'Druk-Wide-Super-Italic';
   src: url('Druk-Wide-Super-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Super';
   src: url('Druk-Wide-Super.otf');
}
