

@font-face {
    font-family: 'interstate_extralight-webfont';
    src: url('interstate_extralight-webfont.eot');
    src: url('interstate_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('interstate_extralight-webfont.woff') format('woff'),
         url('interstate_extralight-webfont.ttf') format('truetype'),
         url('interstate_extralight-webfont.svg#InterstateRegular') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'interstate_light-webfont';
    src: url('interstate_light-webfont.eot');
    src: url('interstate_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('interstate_light-webfont.woff') format('woff'),
         url('interstate_light-webfont.ttf') format('truetype'),
         url('interstate_light-webfont.svg#InterstateRegular') format('svg');
    font-weight: 300;
    font-style: normal;

}


@font-face {
   font-family: 'Druk-Wide-Bold-Italic';
   src: url('Druk-Wide-Bold-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Bold';
   src: url('Druk-Wide-Bold.otf');
}
@font-face {
   font-family: 'Druk-Wide-Heavy-Italic';
   src: url('Druk-Wide-Heavy-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Heavy';
   src: url('Druk-Wide-Heavy.otf');
}
@font-face {
   font-family: 'ZCOOL KuaiLe-Italic';
   src: url('ZCOOL KuaiLe-Italic.otf');
}
@font-face {
   font-family: 'ZCOOL KuaiLe';
   src: url('ZCOOL KuaiLe.otf');
}
@font-face {
   font-family: 'Druk-Wide-Super-Italic';
   src: url('Druk-Wide-Super-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Super';
   src: url('Druk-Wide-Super.otf');
}

