@font-face {
   font-family: 'Druk-Wide-Bold-Italic';
   src: url('Druk-Wide-Bold-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Bold';
   src: url('Druk-Wide-Bold.otf');
}
@font-face {
   font-family: 'Druk-Wide-Heavy-Italic';
   src: url('Druk-Wide-Heavy-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Heavy';
   src: url('Druk-Wide-Heavy.otf');
}
@font-face {
   font-family: 'ZCOOL KuaiLe-Italic';
   src: url('ZCOOL KuaiLe-Italic.otf');
}
@font-face {
   font-family: 'ZCOOL KuaiLe';
   src: url('../../fonts/ZCOOL KuaiLe.otf');
}
@font-face {
   font-family: 'Druk-Wide-Super-Italic';
   src: url('Druk-Wide-Super-Italic.otf');
}
@font-face {
   font-family: 'Druk-Wide-Super';
   src: url('Druk-Wide-Super.otf');
}


@font-face {
   font-family: 'Cabin';
   src: url('../../fonts/Cabin.otf');
}

@font-face {
   font-family: 'Cabin';
   src: url('../../fonts/Cabin.otf');
}

@font-face {
   font-family: 'ZCOOL KuaiLe';
   src: url('../../fonts/ZCOOL KuaiLe.otf');
}

div#audioplayer-2:before {
    content: 'Port-Harcourt, Rivers';
    font-family: "Cabin";
    padding-right: 1em;
    line-height: 3.8;
    color: #999;
    float: right;
}
div#audioplayer-0:before {
    content: 'Lagos, Lagos';
    font-family: "Cabin";
    padding-right: 1em;
    line-height: 3.8;
    COLOR: #999;
    float: right;
}

div#audioplayer-1:before {
    content: 'Abuja, FCT';
    font-family: "Cabin";
    padding-right: 1em;
    line-height: 3.8;
    color: #999;
    float: right;
}

div#audioplayer-3:before {
    content: 'Kano, Kano';
    font-family: "Cabin";
    padding-right: 1em;
    line-height: 3.8;
    color: #999;
    float: right;
}
.top-banner{   
    height: 230px;
    padding: 2em; 
    border-radius: 10px 10px 0px 0px; color: #fff
}

.top-banner-2{ 
    font-family: "Cabin";
    height: auto;
    border: 1px solid #cac9c9;
    padding: 2em;
    margin-top: 1em;
    color: #000000;
    
}

.top-banner p{         
    font-size: 1.3em;
    font-family: "ZCOOL KuaiLe";
    line-height: 1;
}

html {
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;background-color: #f9f9f9;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d3d0d8' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.player-div{     
    background: #fff;
    margin: 0 auto;
    width: 485px;
    height: auto;
    border: 1px solid #ddd;
    margin-top: 3em; 
}
.audioplayer {
    width: 95%;
    height: 60px;
    border-radius: 5px;
    margin: 10px auto auto auto;
    background: #fff;
    border: 1px solid #ccc;
}

.playbutton {
	height: 60px;
	width: 60px;
	border: none;
	float: left;
	outline: none;
}

.play {
	background: url('http://www.alexkatz.me/codepen/img/play.png');
}

.pause {
	background: url('http://www.alexkatz.me/codepen/img/pause.png');
}

.play,
.pause {
	background-size: 32% 32%;
	background-repeat: no-repeat;
	background-position: center;
}

.timeline {
	width: 400px;
    height: 3px; 
    display: none;
    margin-top: 27px;
    float: left;
    border-radius: 15px;
    background: rgba(0, 0, 0, .3);
}

.playhead {
	width: 18px; display: none;
    height: 18px;
    border-radius: 50%;
    margin-top: -7px;
    background: rgba(0, 0, 0, 1);
    cursor: pointer;
}


@media only screen and (max-width: 35em) { .player-div{  width: 100%; } }


li.sp-menu-item a {
    color: #000;
}