

@font-face {
	font-family: 'FreightSansProLight-Italic';
	src: url('FreightSansProLight-Italic.eot');
	src: url('FreightSansProLight-Italic.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProLight-Italic.woff') format('woff'),
		url('FreightSansProLight-Italic.ttf') format('truetype');

	font-style: italic;
}

@font-face {
	font-family: 'FreightSansProBlack-Regular';
	src: url('FreightSansProBlack-Regular.eot');
	src: url('FreightSansProBlack-Regular.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProBlack-Regular.woff') format('woff'),
		url('FreightSansProBlack-Regular.ttf') format('truetype');

	font-style: normal;
}

@font-face {
	font-family: 'FreightSansProLight-Regular';
	src: url('FreightSansProLight-Regular.eot');
	src: url('FreightSansProLight-Regular.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProLight-Regular.woff') format('woff'),
		url('FreightSansProLight-Regular.ttf') format('truetype');

	font-style: normal;
}

@font-face {
	font-family: 'FreightSansProBold-Italic';
	src: url('FreightSansProBold-Italic.eot');
	src: url('FreightSansProBold-Italic.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProBold-Italic.woff') format('woff'),
		url('FreightSansProBold-Italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'FreightSansProBlack-Italic';
	src: url('FreightSansProBlack-Italic.eot');
	src: url('FreightSansProBlack-Italic.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProBlack-Italic.woff') format('woff'),
		url('FreightSansProBlack-Italic.ttf') format('truetype');

	font-style: italic;
}

@font-face {
	font-family: 'FreightSansProMedium-Italic';
	src: url('FreightSansProMedium-Italic.eot');
	src: url('FreightSansProMedium-Italic.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProMedium-Italic.woff') format('woff'),
		url('FreightSansProMedium-Italic.ttf') format('truetype');

	font-style: italic;
}

@font-face {
	font-family: 'FreightSansProBook-Italic';
	src: url('FreightSansProBook-Italic.eot');
	src: url('FreightSansProBook-Italic.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProBook-Italic.woff') format('woff'),
		url('FreightSansProBook-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FreightSansProSemibold-Regular';
	src: url('FreightSansProSemibold-Regular.eot');
	src: url('FreightSansProSemibold-Regular.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProSemibold-Regular.woff') format('woff'),
		url('FreightSansProSemibold-Regular.ttf') format('truetype');

	font-style: normal;
}

@font-face {
	font-family: 'FreightSansProBold-Regular';
	src: url('FreightSansProBold-Regular.eot');
	src: url('FreightSansProBold-Regular.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProBold-Regular.woff') format('woff'),
		url('FreightSansProBold-Regular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'FreightSansProMedium-Regular';
	src: url('FreightSansProMedium-Regular.eot');
	src: url('FreightSansProMedium-Regular.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProMedium-Regular.woff') format('woff'),
		url('FreightSansProMedium-Regular.ttf') format('truetype');

	font-style: normal;
}

@font-face {
	font-family: 'FreightSansProBook-Regular';
	src: url('FreightSansProBook-Regular.eot');
	src: url('FreightSansProBook-Regular.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProBook-Regular.woff') format('woff'),
		url('FreightSansProBook-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FreightSansProSemibold-Italic';
	src: url('FreightSansProSemibold-Italic.eot');
	src: url('FreightSansProSemibold-Italic.eot?#iefix') format('embedded-opentype'),
		url('FreightSansProSemibold-Italic.woff') format('woff'),
		url('FreightSansProSemibold-Italic.ttf') format('truetype');
	
	font-style: italic;
}
