@font-face { 
  font-family: 'Termina-Bold';
  src: url("/fonts/Termina-Bold.otf") format("opentype");
  font-weight: 100;
   }


@font-face {
font-family: 'Termina-Thin';
src: url("/fonts/Termina-Thin.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Thin';
src: url("/fonts/Termina-Thin.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}


@font-face {
font-family: 'Termina-Bold';
src: url("/fonts/Termina-Bold.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Demi';
src: url("/fonts/Termina-Demi.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Heavy';
src: url("/fonts/Termina-Heavy.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Medium';
src: url("./fonts/Termina-Medium.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Regular';
src: url("./fonts/Termina-Regular.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Regular';
src: url("./fonts/Termina-Regular.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}



@font-face {
  font-family: 'FreightSansProLight-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProLight-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProLight-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProLight-Italic.ttf') format('truetype');

  font-style: italic;
}

@font-face {
  font-family: 'FreightSansProBlack-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProBlack-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBlack-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBlack-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBlack-Regular.ttf') format('truetype');

  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProLight-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProLight-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProLight-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProLight-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProLight-Regular.ttf') format('truetype');

  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProBold-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProBold-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBold-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBold-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FreightSansProBlack-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProBlack-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBlack-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBlack-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBlack-Italic.ttf') format('truetype');

  font-style: italic;
}

@font-face {
  font-family: 'FreightSansProMedium-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProMedium-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProMedium-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProMedium-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProMedium-Italic.ttf') format('truetype');

  font-style: italic;
}

@font-face {
  font-family: 'FreightSansProBook-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProBook-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBook-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBook-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBook-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FreightSansProSemibold-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProSemibold-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProSemibold-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProSemibold-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProSemibold-Regular.ttf') format('truetype');

  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProBold-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProBold-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBold-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBold-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBold-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProMedium-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProMedium-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProMedium-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProMedium-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProMedium-Regular.ttf') format('truetype');

  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProBook-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProBook-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBook-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBook-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBook-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProSemibold-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProSemibold-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProSemibold-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProSemibold-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProSemibold-Italic.ttf') format('truetype');
  
  font-style: italic;
}



div {
    display: block;
}

.go-popup-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 30px;
    z-index: 10;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp; 
}

.animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.btn-success {
    color: #fff!important;
    background-color: #3bb75e;
    border-color: #3bb75e;
}

.btn-white {
    background: #fff;
    border: solid 1px rgba(0,0,0,.075);
    color: #57584e;
}

@media (max-width: 640px)
.go-popup {
    display: block;
}

.go-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
}