
/*Vertical Tabs*/

@font-face { 
  font-family: 'Termina-Bold';
  src: url("./fonts/Termina-Bold.otf") format("opentype");
  font-weight: 100;
   }


@font-face {
font-family: 'Termina-Thin';
src: url("./fonts/Termina-Thin.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Thin';
src: url("./fonts/Termina-Thin.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}


@font-face {
font-family: 'Termina-Bold';
src: url("./fonts/Termina-Bold.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Demi';
src: url("./fonts/Termina-Demi.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Heavy';
src: url("./fonts/Termina-Heavy.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Medium';
src: url("./fonts/Termina-Medium.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Regular';
src: url("./fonts/Termina-Regular.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Regular';
src: url("./fonts/Termina-Regular.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProLight-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProLight-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProLight-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProLight-Italic.ttf') format('truetype');

  font-style: italic;
}

@font-face {
  font-family: 'FreightSansProBlack-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProBlack-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBlack-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBlack-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBlack-Regular.ttf') format('truetype');

  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProLight-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProLight-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProLight-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProLight-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProLight-Regular.ttf') format('truetype');

  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProBold-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProBold-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBold-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBold-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FreightSansProBlack-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProBlack-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBlack-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBlack-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBlack-Italic.ttf') format('truetype');

  font-style: italic;
}

@font-face {
  font-family: 'FreightSansProMedium-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProMedium-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProMedium-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProMedium-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProMedium-Italic.ttf') format('truetype');

  font-style: italic;
}

@font-face {
  font-family: 'FreightSansProBook-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProBook-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBook-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBook-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBook-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FreightSansProSemibold-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProSemibold-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProSemibold-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProSemibold-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProSemibold-Regular.ttf') format('truetype');

  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProBold-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProBold-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBold-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBold-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBold-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProMedium-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProMedium-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProMedium-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProMedium-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProMedium-Regular.ttf') format('truetype');

  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProBook-Regular';
  src: url('./fonts/FreightSansPro/FreightSansProBook-Regular.eot');
  src: url('./fonts/FreightSansPro/FreightSansProBook-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProBook-Regular.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProBook-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreightSansProSemibold-Italic';
  src: url('./fonts/FreightSansPro/FreightSansProSemibold-Italic.eot');
  src: url('./fonts/FreightSansPro/FreightSansProSemibold-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FreightSansPro/FreightSansProSemibold-Italic.woff') format('woff'),
    url('./fonts/FreightSansPro/FreightSansProSemibold-Italic.ttf') format('truetype');
  
  font-style: italic;
}


span.tab-text {
    letter-spacing: 0px;
    font-family: "FuturaHeavy";
    text-transform:  capitalize;
    font-size: 1.2em;
}
.mdl-tabs__panel {
  display: none;
}
.vertical-mdl-tabs {
    margin-top: 30px;
}
.vertical-mdl-tabs .mdl-tabs__tab-bar {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 35px;
    height: inherit;
    border-bottom: none;
    border-right: 1px solid rgba(10, 11, 49, 0.20);
}

.vertical-mdl-tabs .mdl-tabs__tab {
    width: 100%;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    letter-spacing: 2px;
}

.vertical-mdl-tabs .mdl-tabs__tab:hover {
  background: rgba(158, 158, 158, 0.34);
  color: black;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
    border-right: 3px solid #ED462F;
}
.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    content: inherit;
    height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active, .mdl-tabs__panel {
    padding: 0 30px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
    text-align: left;
}

.text-center {
  text-align: center;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
   color: #E21549;
}










@import "https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic";html{font-family:'Noto Sans', sans-serif;font-size:17px;line-height:1.5}

    h1 {
      font-weight: 400;
    }

    ul.chart  {
      counter-reset: counter;
    }
    
      ul.chart > li  {
          color: #aba4a4;
    display: block;
    font-size: 11px;
    border-bottom: 1px solid #c5c5c569;
    line-height: 25px;
    margin: 12px 0 8px;
    letter-spacing: 0.5px;
    padding: 0 0 0 50px;
    position: relative;
    text-transform: uppercase;
      }

      ul.chart > li > strong  {
          color: #121212;
    display: block;
    font-size: 2em;
    letter-spacing: .5px;
    line-height: 1;
    padding: 3px 0 18px;
    text-transform: capitalize;
    font-family: "FuturaHeavy";
      }
          
        ul.chart > li:before  {
         color: #bababa;
    content: counter(counter);
    counter-increment: counter;
    font: bold 32px/1 'FuturaHeavy', sans-serif;
    left: 0;
    margin: -16px 0 0;
    font-size: 2em;
    position: absolute;
    top: 50%;
    transition: all 400ms ease;
        }

        
        ul.chart > li:hover:before  {
          color: red;
        }


