@font-face {
   font-family: 'BentonSans-Medium';
   src: url('BentonSans-Medium/BentonSans-Medium.woff');
}
@font-face {
   font-family: 'BentonSans-Thin';
   src: url('BentonSans-Thin/BentonSans-Thin.woff');
}
@font-face {
   font-family: 'BentonSans-Light';
   src: url('BentonSans-Light/BentonSans-Light.woff');
}
@font-face {
   font-family: 'BentonSans-ExtraLight';
   src: url('BentonSans-ExtraLight/BentonSans-ExtraLight.woff');
}
@font-face {
   font-family: 'BentonSans-Book';
   src: url('BentonSans-Book/BentonSans-Book.woff');
}
@font-face {
   font-family: 'BentonSans-Bold';
   src: url('BentonSans-Bold/BentonSans-Bold.woff');
}
@font-face {
   font-family: 'BentonSans-Black';
   src: url('BentonSans-Black/BentonSans-Black.woff');
}

/* new fonts from kp---weird guy */


@font-face {
font-family: 'Termina-Thin';
src: url("Termina-Thin.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Thin';
src: url("Termina-Thin.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}


@font-face {
font-family: 'Termina-Bold';
src: url("Termina-Bold.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Demi';
src: url("Termina-Demi.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Heavy';
src: url("Termina-Heavy.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Medium';
src: url("Termina-Medium.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Regular';
src: url("./fonts/Termina-Regular.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: 'Termina-Regular';
src: url("./fonts/Termina-Regular.otf") format("opentype");
font-weight: 100;
  font-style: normal;
}