


@font-face {
    font-family: 'interstate_extralight-webfont';
    src: url('interstate_extralight-webfont.eot');
    src: url('interstate_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('interstate_extralight-webfont.woff') format('woff'),
         url('interstate_extralight-webfont.ttf') format('truetype'),
         url('interstate_extralight-webfont.svg#InterstateRegular') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'interstate_light-webfont';
    src: url('interstate_light-webfont.eot');
    src: url('interstate_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('interstate_light-webfont.woff') format('woff'),
         url('interstate_light-webfont.ttf') format('truetype'),
         url('interstate_light-webfont.svg#InterstateRegular') format('svg');
    font-weight: 300;
    font-style: normal;

}



