.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.honestyles {

           white-space: nowrap;

           text-transform: uppercase;

           background-color: blue;

           font-family: 'Source Sans Pro';

           font-size: 13px;

           font-weight: 700px;

           color: white;

           border: 1px solid;

           width: 41px;

           padding: .5em;

           text-align: center;
}

.alinkstyles { 

      font-family: 'Source Sans Pro'; 

      font-weight: 800px;

      font-size: 1.2em;

}

.spanstyles { 

         float: right;

         margin-top: -1em;

}

.sspanstyles {

  color: #0054b4;
  margin-top: 0;

}

.hh{
   float: right;
   display: block;
}

.imgstyles {
   width: 284px; 
   height: auto; 
   margin-right: 1em; 
   margin-bottom: -0.5em;
}

.mspan {
           float: right; 
           margin-left: 4em; 
           margin-top: 2.3em; 
            padding: 1em; 
           letter-spacing: .5px; 
           text-transform: uppercase; 
            font-weight: 700;
            display: inline-flex; 
            border-radius: 5px; 
            white-space: nowrap; 
            color: #fff; 
            font-size: 16px; 
            background: rgb(191, 0, 20);
            background: -moz-linear-gradient(90deg, rgb(191, 0, 20) 30%, rgb(250, 20, 20) 70%); 
            background: -webkit-linear-gradient(90deg, rgb(191, 0, 20) 30%, rgb(250, 20, 20) 70%); 
            background: -o-linear-gradient(90deg, rgb(191, 0, 20) 30%, rgb(250, 20, 20) 70%); 
            background: -ms-linear-gradient(90deg, rgb(191, 0, 20) 30%, rgb(250, 20, 20) 70%); 
            background: linear-gradient(0deg, rgb(191, 0, 20) 30%, rgb(250, 20, 20) 70%);
            -webkit-box-shadow: 16px 11px 30px rgba(255, 0, 34, 0.75);
            -moz-box-shadow: 16px 11px 30px rgba(255, 0, 34, 0.75); 
            box-shadow: 3px 5px 20px rgb(254, 0, 0);
}


.ispan {
          font-size: 20px;
          color: #fff; display: inline-block; 
          margin-top: 0em;
}




#header {
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#notfound{
  background-color: #0a833d;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#notfound-message{
  color: white;
  margin-bottom: 50px;
}

.go-home{
  border: 1px solid rgb(255, 255, 255); 
  padding: 0.5em 1em; 
  border-radius: 25px; 
  color: rgb(0, 83, 180); 
  background: rgb(255, 255, 255);
}

.notfound-image{
  margin-bottom: 40px;
}

.search-container{
  position: fixed;
  z-index: 5000;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00A365;
  
}

.input-container{
  background-color: white;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container input{
  border-bottom: 0.07em solid #8a8686;
  width: 75%;
  padding-left: 5px;
  margin-top: 15px;
  height: 40px;
  font-size: 23px;
}

.input-container input::placeholder{
  font-size: 23px;
}

.all-result{
  border-bottom: 2px solid #0000;
  height: 40px;
  margin-top: 15px;
  padding: 18px;
  font-size: 12px;
  font-family: 'Termina-Demi'
}

.cancel{
  background-color: white;
  top: 10px;
  left: 0;
  right: 20px;
  position: absolute;
  text-align: right;
  color: #2b2b2b;
  margin-bottom: 15px;
}

.search-result{
  margin-top: 30px;
  margin-left: 50px;
}

.search-result > li{
  color: black;

}

.search-result > li > a {
  font-family: 'Termina-Demi';
}

.error{
  margin-left: 5px;
  color: red;
  font-size: 12px;
}

.search-result-heading{
  margin-left: 15px;
  margin-top: 15px;
  color: rgb(255,64,129);
  
  /* font-weight: bold; */
  letter-spacing: 1px;
}

.search-result-text{
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 25px;
  font-family: 'Termina-Regular'
}

.search-result-text > a{
  color: white;
}

.search-result-text > a:hover{
  color: rgb(255,64,129);
}

#search{
  position: absolute;
  z-index: 34;
  right: 13px;
  top: 11px;
  color: white;
  display: flex;
  margin-right: 15px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5em;
}

#search > a{
  color: white;
}

#location{
  margin-top: 20px;
}

.btn{
  background-color: #0a833d;
  padding-top: 12.5px;
  border-radius: 2em;
  font-size: 12px;
  padding-bottom: 25px;
  color: white;
  min-width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  text-align: center;
}

.btn:hover{
  opacity: 0.9;
}

.btn:disabled{
  opacity: 0.5;
}

.modal{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  top: 0;
  justify-content: center;
  background-color: black;
  opacity: 1;
  z-index: 1000;
}